.outterSortContainer {
  width: 30%;
  display: flex;
  align-items: center;
  font-size: 18;
  justify-content: center;
  align-self: flex-end;
  margin-right: 50px;
}
.sortContainer {
  align-self: flex-end;
  margin: 20px;
}
@media screen and (max-width: 800px) {
  .outterSortContainer {
    width: 100%;
    margin-right: 10px;
    margin-bottom: -50px;
    align-self: center;

  }
}
